.DS_Store
config.py
usernamesAlreadyKnown.txt
userData.csv
__pycache__
alreadyKnownFollowees.txt
alreadyKnownFollowers.txt
alreadyProcessedFollowers.txt
done/
followersData.csv
alreadyProcessedProfiles.txt
scrapyOldver.py
